@import "variables";
@import "mixin";


* {margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*******   BODY ***********


/*******   NAV ***********/
header {display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg_color;
    padding-left: 30px;
}

h1 {color: $header;
    font-size: 24px;
    a {text-decoration: none;}
}

nav ul {display: flex;
    justify-content: space-around;
    }
    

nav ul li {list-style: none;
    text-decoration: none;
    margin: 20px;
    
    
}



nav ul li a {text-decoration: none;
            &:hover {
                color: chocolate;
                border: 1px solid $nav;
                padding: 3px;
                
            }
}


/*******   MAIN ***********/
h2 {text-align: center;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img {display: flex;
    justify-content: space-between;
    margin-top: 50px;
    img {border: 1px solid $border-radius;
        margin: 0px 10px;
        border-radius: 5px;
    }
}

.identite {color: black;
    font-family: sans-serif;
    border: 1px solid black;
}



.identite {margin:  5px 10px;
    padding:2px 5px;
}

.plan {text-align: center;}




strong {color: $strong;
    line-height: 2px;
    letter-spacing: 0.1em;
}


.txt {width: auto;
    height:auto;
    display: flex;
    justify-content: space-between;
    @include div_txt;
}

.boite {background-color: white;
    padding: 5px;
    width: 450px;
    height:auto;
    display: flex;
    justify-content: flex-start;
}

.espace {padding-top: 5px;}


.button {
    background-color: #c91c70;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 35px;
    cursor: pointer;
    text-decoration: none;
}